aula-projeto-blog-venv/
blog/__pycache__
categorias/__pycache__
comentarios/__pycache__
posts/__pycache__
blog/local_settings.py
blog/senha.py
templatetags/__pycache__
posts/templates/posts/post_detalhes.html
posts/migrations/__pycache__